table.items {

  border-collapse: collapse;
  th, td {
    border: dotted 2px black;
    padding: 0.5em;
    vertical-align: center;
    text-align: left;
  }

  .deleteAction{
    color: blue;
    border-bottom: dotted;
    cursor: pointer;
  }

}